[Unit]
Description=Socket server for FPVCrawler 

[Service]
ExecStart=/usr/bin/python3 /home/pi/HMI-touchpanel-Demo/03_RemoteCrawler/socket_server.py
ExecStop=/bin/kill ${MAINPID}
Restart=always

[Install]
WantedBy=default.target